.nav {
    display: inline-flex;
    align-items: center;
}

.nav-logo {
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    margin-right: 93px;
}

.nav-logo span {
    color: black;
}